@page "/monsters"
@inject IMonsterService MonsterService
@inject NavigationManager NavigationManager

<PageTitle>Monsters</PageTitle>

<h3>Monsters</h3>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Alias</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var onemonster in MonsterService.Monsters)
        {
            <tr>
                <td>@onemonster.FirstName</td>
                <td>@onemonster.LastName</td>
                <td>@onemonster.Alias</td>
                <td>@onemonster.Location.Name</td>
                <td>
                    <button class = "btn btn-primary" @onclick="(() => ShowMonster(onemonster.Id))"><i class="oi oi-pencil "></i></button>
                </td>
            </tr>
            
        }

    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await MonsterService.GetMonsters();
    }

    void ShowMonster(int id)
    {
        NavigationManager.NavigateTo($"onemonster/{id}");
    }
    void CreateNewMonster()
    {
        NavigationManager.NavigateTo("/onemonster");
    }
}
