@page "/monsters"
@inject IMonsterService MonsterService

<PageTitle>Monsters</PageTitle>

<h3>Monsters</h3>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Alias</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var monster in MonsterService.Monsters)
        {
            <tr>
                <td>@monster.FirstName</td>
                <td>@monster.LastName</td>
                <td>@monster.Alias</td>
                <td>@monster.Location.Name</td>
                <td>

                </td>
            </tr>
            
        }
    </tbody>
</table>

@code {

}
